body{
    background-color: #7ea04d;
}
h1{
    color: #B4CEB3;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
p{
    color: #FAD4D8;
    margin-block-start: 0em;
    margin-block-end: 0em;

}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
    height: 20em;
}
.container2{
    background-color: #DBD3C9;
    display:none;
}
.w-100 {
    width: 50%!important;
}
.container1 {
    margin-top:10%;
    height: 10%;
    display:none;
}
.container3 {
    margin-top:10%;
    height: 40%;
   
}
.img1{
    margin-top: -5%;
}
.navbar-logo{
    width:3.5em;
    height:3.5gem;
}
.newColor{
    color:#546A76 !important;
}